.table-bordered {
         border: 1px solid #dddddd;
         border-collapse: separate;
         border-left: 0;
         -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
         border-radius: 4px;
         }
         .table {
         width: 100%;
         margin-bottom: 20px;
         background-color: transparent;
         border-collapse: collapse;
         border-spacing: 0;
         display: table;
         }
         .widget.widget-table .table {
         margin-bottom: 0;
         border: none;
         }
         .widget.widget-table .widget-content {
         padding: 0;
         }
         .widget .widget-header + .widget-content {
         border-top: none;
         -webkit-border-top-left-radius: 0;
         -webkit-border-top-right-radius: 0;
         -moz-border-radius-topleft: 0;
         -moz-border-radius-topright: 0;
         border-top-left-radius: 0;
         border-top-right-radius: 0;
         }
         .widget .widget-content {
         padding: 20px 15px 15px;
         background: #FFF;
         border: 1px solid #D5D5D5;
         -moz-border-radius: 5px;
         -webkit-border-radius: 5px;
         border-radius: 5px;
         }
         .widget .widget-header {
         position: relative;
         height: 50px;
         line-height: 40px;
         background: #E9E9E9;
         background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
         background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
         background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
         background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
         background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
         text-shadow: 0 1px 0 #fff;
         border-radius: 5px 5px 0 0;
         box-shadow: 0 2px 5px rgba(0,0,0,0.1),inset 0 1px 0 white,inset 0 -1px 0 rgba(255,255,255,0.7);
         border-bottom: 1px solid #bababa;
         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
         -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
         border: 1px solid #D5D5D5;
         -webkit-border-top-left-radius: 4px;
         -webkit-border-top-right-radius: 4px;
         -moz-border-radius-topleft: 4px;
         -moz-border-radius-topright: 4px;
         border-top-left-radius: 4px;
         border-top-right-radius: 4px;
         -webkit-background-clip: padding-box;
         }
         thead {
         display: table-header-group;
         vertical-align: middle;
         border-color: inherit;
         }
         .widget .widget-header h1 {
         position: relative;
         left: 10px;
         display: inline-block;
         margin-right: 3em;
         font-size: 18px;
         font-weight: 600;
         color: #555;
         line-height: 18px;
         text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
         }
         .widget .widget-header [class^="icon-"], .widget .widget-header [class*=" icon-"] {
         display: inline-block;
         margin-left: 13px;
         margin-right: -2px;
         font-size: 16px;
         color: #555;
         vertical-align: middle;
         }
         /*Panel tabs*/
         .panel-tabs {
         position: relative;
         clear:both;
         border-bottom: 1px solid transparent;
         }
         .panel-tabs > li {
         float: left;
         margin-bottom: -1px;
         }
         .panel-tabs > li > a {
         margin-right: 2px;
         margin-top: 4px;
         line-height: .85;
         border: 1px solid transparent;
         border-radius: 4px 4px 0 0;
         color: #ffffff;
         }
         .panel-tabs > li > a:hover {
         border-color: transparent;
         color: #ffffff;
         background-color: transparent;
         }
         .panel-tabs > li.active > a,
         .panel-tabs > li.active > a:hover,
         .panel-tabs > li.active > a:focus {
         color: #fff;
         cursor: default;
         -webkit-border-radius: 2px;
         -moz-border-radius: 2px;
         border-radius: 2px;
         background-color: rgba(255,255,255, .23);
         border-bottom-color: transparent;
         }
             textarea {
  resize:none;
  width:100%;
  margin-top: 10px;
 
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.06);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}


textarea:focus {
    background: none repeat scroll 0 0 	#f8f8f8;
    outline-width: 0;
}
        
         /*comment*/
         .widget .panel-body { padding:0px; }
         .widget .list-group { margin-bottom: 0; }
         .widget .panel-title { display:inline }
         .widget .label-info { float: right; }
         .widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
         .widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
         .widget .mic-info { color: #666666;font-size: 11px; }
         .widget .action { margin-top:5px; }
         .widget .comment-text { font-size: 14px; }
         .widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }